{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block profhead %}
    <link href="{% static 'css/profhead.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container" id="mgwithoutheader">
        <h2>You have been logged out</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="{% url 'login' %}">Log In Again</a>
            </small>
        </div>
    </div>

{% endblock content %}