{% extends 'blog/base.html' %}
{% block profhead %}
    <style type="text/css">
        #mainNav ul.navbar-nav > li.nav-item > a {
            padding: 10px 20px;
            color: #343a40;
        }

        #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
            color: rgba(0, 133, 161, 0.8);
        }

        #mainNav .navbar-brand {
            padding: 10px 20px;
            color: #343a40;
        }

        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
            color: rgba(0, 133, 161, 0.8);
        }


    </style>
{% endblock %}
{% block content %}
    <br>
    <div class="alert alert-info text-center mt-5">
        An email has been sent with instructions to reset your password.
    </div>

{% endblock content %}