{% extends 'blog/base.html' %}
{% block profhead %}
    <style type="text/css">
        #mainNav ul.navbar-nav > li.nav-item > a {
            padding: 10px 20px;
            color: #343a40;
        }

        #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
            color: rgba(0, 133, 161, 0.8);
        }

        #mainNav .navbar-brand {
            padding: 10px 20px;
            color: #343a40;
        }

        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
            color: rgba(0, 133, 161, 0.8);
        }


    </style>
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <br>
    <div class="container mt-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>

{% endblock content %}