{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block profhead %}
    <style type="text/css">
        #mainNav ul.navbar-nav > li.nav-item > a {
            padding: 10px 20px;
            color: #343a40;
        }

        #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
            color: rgba(0, 133, 161, 0.8);
        }

        #mainNav .navbar-brand {
            padding: 10px 20px;
            color: #343a40;
        }

        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
            color: rgba(0, 133, 161, 0.8);
        }


    </style>
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1>New comment</h1>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="save btn btn-dark">Send</button>
        </form>
    </div>
{% endblock %}