{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'blog/page_header.html' with header_img_url='/static/img/post-bg.jpg' header_title='Clean Blog' header_subtitle='A Blog Theme by Start Bootstrap' %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">

                    <p class="post-meta">Posted by <a href="{% url 'user-posts' object.author.user.username %}">{{ object.author.user.username }}</a> on {{ post.date_posted|date:"F d, Y" }}</p>

                    <h2 class="section-heading">{{ post.title }}</h2>

                    <p>{{ post.content }}</p>

                    <img class="img-fluid" src="{% static 'img/post-sample-image.jpg' %}" alt="">

                    <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>

                    {% if object.author == user.profile %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1"
                               href="{% url 'post-update' object.id %}">Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1"
                               href="{% url 'post-delete' object.id %}">Delete</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
{% endblock content %}

